<footer>
  <!-- <ul class="footer-nav">
    {% for item in site.data.navigation.items %}
    <li>
      <a href="{{ item.url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul> -->
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="footer-content text-center">
          &copy; 2019
          <script>new Date().getFullYear() > 2019 && document.write("-" + new Date().getFullYear());</script>
          Mugabi Mwanje
        </div>
      </div>
    </div>
</footer>
