:root {
  --text-red: rgba(255,82,82,0.87);
  --text-red-dark: rgba(187, 42, 42, 0.87);
  --text-black: rgba(65, 69, 73);
}
@font-face {
    font-family: 'nunito_sansbold';
    src: url('../fonts/nunitosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/nunitosans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nunito_sansregular';
    src: url('../fonts/nunitosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  color: var(--text-black);
  font-size: 18px;
}
main{
  padding: 15px 0;
}

h1, h2, h3, h4, h5, h6, .post-list{
  font-family: 'Nunito Sans', sans-serif;
 /* font-family: 'Ramabhadra', sans-serif; */
 color: var(--text-red);
 font-weight: 400;
}

.m-nav{
  list-style-type: none;
  margin: 0;
}
a, a:visited{
  color: var(--text-red);
}
a:hover, a:active{
  color: var(--text-red-dark);
  text-decoration: none;
}

.page-heading{
  font-size: calc(36px + 1.1vw);
  font-weight: 400;
  margin-bottom: 80px;
}
.page-heading a{
  color: var(--text-red-dark);
}

.nav-back{
  margin-bottom: 15px;
  margin-top: -40px;
}

.page-content{
  padding: 0;
}
.blog-heading{
  margin-bottom: 60px;
}

.post-list{
  list-style-type: disc;
  list-style-position: inside;
  font-size: 24px;
  color: var(--text-red);
  margin-bottom: 60px;
}
.post-list>li{
  margin-bottom: 15px;
}

.p-author{
    color: var(--text-red);
}

footer{
  padding-top:15px;
  border-top: 1px solid var(--text-black);
  margin-bottom: 15px;
}

.footer-nav{
  text-align: center;
  margin: 0;
}
.footer-nav a{
  font-size: 14px;
  color: var(--text-black);
}
.footer-nav>li{
  display:inline-block;
}
.footer-nav>li:not(:first-child):before{
  content: " \2022 "
}